body
{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    text-align: center;
    font-size: 16px;
    margin: 6;
    padding: 6;
}

#cabecera
{
    background: rgb(233, 223, 235);
    box-shadow: 0px 2px 50px 0px rgba(231, 211, 211, 0.705);
    color:rgb(7, 7, 83);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container
{
    width: 70;padding: 1;
    text-align: center;
    border: 3px solid yellowgreen;
    margin:0 auto;

}